@use "@/assets/scss/uniot/theme" as *;
@use "element-plus/theme-chalk/src/index" as *;
@use "uniot/fonts";
@use "uniot/var";
@use "uniot/utility";

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  background-color: var(--el-fill-color);
}